@font-face {
    font-family: "BarlowSemiCondensed-Medium";
    src: url("../fonts/BarlowSemiCondensed-Medium.ttf");
}
@font-face {
    font-family: "BarlowSemiCondensed-SemiBold";
    src: url("../fonts/BarlowSemiCondensed-SemiBold.ttf");
}
@font-face {
    font-family: "BarlowSemiCondensed";
    src: url("../fonts/BarlowSemiCondensed-Regular.ttf");
}
