$screen-mobile: 375px;
$screen-desktop: 1440px;

$font-semibold: "BarlowSemiCondensed-SemiBold", Arial, Helvatica, sans-serif;
$font-bold: "BarlowSemiCondensed-Medium", Arial Helvatica, sans-serif;
$font-normal: "BarlowSemiCondensed", Arial, Helvatica, sans-serif;

$bg-color-violet: hsl(263, 55%, 52%);
$bg-color-dark-grayish-blue: hsl(217, 19%, 35%);
$bg-color-dark-blackish-blue: hsl(219, 29%, 14%);
$bg-color-grayish-blue: hsl(210, 46%, 95%);
$color-white: hsl(0, 0%, 100%);
$color-light-gray: hsl(0, 0%, 81%);

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  /* Allow third-party component to set other box-sizing value */
  box-sizing: inherit;
}

body {
  padding: 3em 1.5em 1em;
  background-color: $bg-color-grayish-blue;
  font-family: $font-normal, Arial, Heltivica, sans-serif;
  font-size: 13px;

  @media (min-width: $screen-desktop) {
    margin: 5em 10em 3em;
  }
}

body * + * {
  margin-top: 1.5em;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);

  @media (min-width: $screen-desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5em 1.5em;
  }
}

.review {
  padding: 1.5em 2em;
  border-radius: 0.75em;

  @media (min-width: $screen-desktop) {
    margin-top: 0;
    //padding: 1.5em 2em 1.5em;
  }
}

.review header {
  display: grid;
  grid-template-columns: [left-start] minmax(2em, 3.5em) [left-end right-start] 1fr [right-end];
  grid-template-rows: repeat(2, [row] minmax(1em, 1.25em));
}

.review__avatar {
  height: 100%;
  grid-column: left;
  grid-row: span 2;
  border-radius: 50%;
  align-self: center;
  justify-self: start;
}

.review__name {
  grid-column: right;
  grid-row: row 1;
  margin: 0;
  font-family: $font-semibold;
  color: $color-white;
}

.review__verify {
  grid-column: right;
  grid-row: row 2;
  margin: 0;
  color: $color-white;
  opacity: 0.5;
}

.review__content {
  margin-top: 0.75em;

  @media (min-width: $screen-desktop) {
    margin-top: 1.5em;
  }
}

.review__content__title {
  margin-top: 0;
  font-size: 1.205rem;
  line-height: 1.2;
  font-family: $font-bold;
  color: $color-white;
}

.review__content__quote {
  margin-bottom: 0;
  color: $color-white;
  font-size: 1rem;
  opacity: 0.7;
}

.review:nth-child(1) {
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
  background-color: $bg-color-violet;
  color: $color-white;

  .review__avatar {
    border: 3px solid rgb(167, 117, 241);
  }

  @media (min-width: $screen-desktop) {
    grid-column: 1 / 3;
    grid-row: 1;
    background-position: top right 20%;
  }
}
.review:nth-child(2) {
  background-color: $bg-color-dark-grayish-blue;


  @media (min-width: $screen-desktop) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}
.review:nth-child(3) {
  background-color: $color-white;

  .review__name,
  .review__verify,
  .review__content__title,
  .review__content__quote {
    color: $bg-color-dark-grayish-blue;
  }


  @media (min-width: $screen-desktop) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
.review:nth-child(4) {
  background-color: $bg-color-dark-blackish-blue;

  .review__avatar {
    border: 3px solid $bg-color-violet;
  }

  @media (min-width: $screen-desktop) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}
.review:nth-child(5) {
  background-color: $color-white;

  .review__name,
  .review__verify,
  .review__content__title,
  .review__content__quote {
    color: $bg-color-dark-grayish-blue;
  }


  @media (min-width: $screen-desktop) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }
}
