:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  /* Allow third-party component to set other box-sizing value */
  box-sizing: inherit;
}

body {
  padding: 3em 1.5em 1em;
  background-color: #ecf2f8;
  font-family: "BarlowSemiCondensed", Arial, Helvatica, sans-serif, Arial, Heltivica, sans-serif;
  font-size: 13px;
}
@media (min-width: 1440px) {
  body {
    margin: 5em 10em 3em;
  }
}

body * + * {
  margin-top: 1.5em;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
}
@media (min-width: 1440px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5em 1.5em;
  }
}

.review {
  padding: 1.5em 2em;
  border-radius: 0.75em;
}
@media (min-width: 1440px) {
  .review {
    margin-top: 0;
  }
}

.review header {
  display: grid;
  grid-template-columns: [left-start] minmax(2em, 3.5em) [left-end right-start] 1fr [right-end];
  grid-template-rows: repeat(2, [row] minmax(1em, 1.25em));
}

.review__avatar {
  height: 100%;
  grid-column: left;
  grid-row: span 2;
  border-radius: 50%;
  align-self: center;
  justify-self: start;
}

.review__name {
  grid-column: right;
  grid-row: row 1;
  margin: 0;
  font-family: "BarlowSemiCondensed-SemiBold", Arial, Helvatica, sans-serif;
  color: white;
}

.review__verify {
  grid-column: right;
  grid-row: row 2;
  margin: 0;
  color: white;
  opacity: 0.5;
}

.review__content {
  margin-top: 0.75em;
}
@media (min-width: 1440px) {
  .review__content {
    margin-top: 1.5em;
  }
}

.review__content__title {
  margin-top: 0;
  font-size: 1.205rem;
  line-height: 1.2;
  font-family: "BarlowSemiCondensed-Medium", Arial Helvatica, sans-serif;
  color: white;
}

.review__content__quote {
  margin-bottom: 0;
  color: white;
  font-size: 1rem;
  opacity: 0.7;
}

.review:nth-child(1) {
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
  background-color: #7541c8;
  color: white;
}
.review:nth-child(1) .review__avatar {
  border: 3px solid #a775f1;
}
@media (min-width: 1440px) {
  .review:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
    background-position: top right 20%;
  }
}

.review:nth-child(2) {
  background-color: #48556a;
}
@media (min-width: 1440px) {
  .review:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.review:nth-child(3) {
  background-color: white;
}
.review:nth-child(3) .review__name,
.review:nth-child(3) .review__verify,
.review:nth-child(3) .review__content__title,
.review:nth-child(3) .review__content__quote {
  color: #48556a;
}
@media (min-width: 1440px) {
  .review:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.review:nth-child(4) {
  background-color: #19212e;
}
.review:nth-child(4) .review__avatar {
  border: 3px solid #7541c8;
}
@media (min-width: 1440px) {
  .review:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}

.review:nth-child(5) {
  background-color: white;
}
.review:nth-child(5) .review__name,
.review:nth-child(5) .review__verify,
.review:nth-child(5) .review__content__title,
.review:nth-child(5) .review__content__quote {
  color: #48556a;
}
@media (min-width: 1440px) {
  .review:nth-child(5) {
    grid-column: 4/5;
    grid-row: 1/3;
  }
}

/*# sourceMappingURL=style.css.map */
